<header class="masthead">
  <video *ngIf="!isMobileScreen" src="../../assets/video/backgroundVideoNetflixDesktop.mp4" autoplay="true" muted="true" loop="true"></video>
  <video *ngIf="isMobileScreen" src="../../assets/video/backgroundVideoNetflixMobile.mp4" autoplay="true" muted="true" loop="true"></video>
  <div id="contenedor-masthead">
    <div class="d-flex justify-content-center">
      <div class="text-center">
        <h1 id="titulo" class="mx-0 my-0 text-uppercase">Netflix<br>data</h1>
        <h2 class="text-white-50 mx-auto mt-2 mb-5">
          Explore the world of Netflix: Statistics and exclusive data about its content.
        </h2>
        <a id="boton" class="btn btn-primary" href="#projects">Get Started</a>
      </div>
    </div>
  </div>
</header>