<section class="projects-section bg-light" id="film-table">
    <div class="container px-4 px-lg-5">
        <div class="table-responsive">
            <table class="content-table">
            <thead>
                <tr>
                <th scope="col">Title</th>
                <th scope="col">Type</th>
                <th scope="col">Listed In</th>
                <th scope="col">Director</th>
                <th scope="col">Country</th>
                <th scope="col">Rating</th>
                <th scope="col">Date Added</th>
                <th scope="col">Duration</th>
                <th scope="col">Release Year</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let datum of data">
                <td>{{ datum["title"] }}</td>
                <td>{{ datum["type"] }}</td>
                <td>{{ datum["listed_in"] }}</td>
                <td>{{ datum["director"] }}</td>
                <td>{{ datum["country"] }}</td>
                <td>{{ datum["rating"] }}</td>
                <td>{{ datum["date_added"] }}</td>
                <td>{{ datum["duration"] }}</td>
                <td>{{ datum["release_year"] }}</td>
                </tr>
            </tbody>
            </table>
        </div>
    </div>
<section>