section{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;

}
div{
    width: 80%;
    max-height: 200%;
    margin: 0 auto;
    
}
div{
    background-color: black;
}
h3{
    color:#831010;
    font-weight: bold;
}
h1{
    font-size: 4rem;
    font-weight: bold;
    text-align: center;
    color: white;
}
