<section class="projects-section bg-red" id="projects">
  <div class="container px-4 px-lg-5">
    <!-- Featured Project Row-->
    <div class="row gx-0 mb-4 mb-lg-5 align-items-center">
      <div class="col-lg-8" id="catalogo">
        <h2>Top 10 peliculas disponible en Netflix según Rotten Tomatoes</h2>
        <p class="lead">Elegir una buena pelicula a veces puede ser estresante pasando más tiempo eligiendo que viendo.
          Por eso te traemos las 10 peliculas en netflix mejor calificada por Rotten Tomatoes para que te asegures de
          ver una buena historia.</p>
        <div class="puesto" >
          <h3 class="titulo">10. Historia De Un Matrimonio </h3>
          <article>  
            <h3 class="puntacion">94%</h3>
            <h4 class="sipnosis">Scarlett y Adam se separan. Esa es la premisa, pero no puedes imaginar la cantidad de
              oro
              emocional
              y verdad humana que esta joya extrae de ella. Se estudiará en todas las escuelas de cine, especialmente en
              las de
              interpretación.</h4>
          </article>
          <div class="p-5"><img class="img-fluid rounded" src="assets/img/historia.jpg" alt="..." /></div>
          <div class="ratio ratio-16x9">
              <iframe width="560" height="315" src="https://www.youtube.com/embed/pFg0Rk3L9SY" title="YouTube video player"
                frameborder="0"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                allowfullscreen></iframe>
          </div>
        </div>
        <div class="puesto" ><h3 class="titulo">9. El Poder Del Perro</h3>
          <article>
            
            <h3 class="puntacion">94%</h3>
            <h4 class="sipnosis">Nada es lo que parece en esta explosiva mezcla de western, drama intimista, thriller
              psicológico e
              incluso (en ciertos momentos) cine de terror. Todo ello capitaneado por una Jane Campion que sabe escoger
              siempre los
              detalles atmosféricos perfectos para acompañar a las interpretaciones.</h4>
          </article>
          <div class="p-5"><img class="img-fluid rounded" src="assets/img/perro.jpg" alt="..." /></div>
          <div class="ratio ratio-16x9">
              <iframe width="560" height="315" src="https://www.youtube.com/embed/woHJYC5f-Ro"
                title="YouTube video player" frameborder="0"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                allowfullscreen></iframe>
          </div>
        </div>
        <div class="puesto" ><h3 class="titulo">8. El Irlandés</h3>
          <article>
            
            <h3 class="puntacion">95%</h3>
            <h4 class="sipnosis">"Cada pieza de esta inapelable máquina de precisión, desde la percutiva narración en
              off de De Niro
              hasta la atmosférica selección musical, funciona y contribuye a generar en el espectador la sensación de
              estar ante
              una obra maestra atemporal", aseveramos en nuestra crítica.</h4>
          </article>
          <div class="p-5"><img class="img-fluid rounded" src="assets/img/irlandes.jpg" alt="..." /></div>
          <div class="ratio ratio-16x9">
              <iframe width="560" height="315" src="https://www.youtube.com/embed/B3cJXk9IaH0" title="YouTube video player"
                frameborder="0"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                allowfullscreen></iframe>
          </div>
        </div>

        <div class="puesto"><h3 class="titulo">7. ¿Dónde Está Mi Cuerpo?</h3>
          <article>
            
            <h3 class="puntacion">96%</h3>
            <h4 class="sipnosis">Una joya europea que estuvo a punto de arrebatarle a Toy Story 4 el Oscar a la mejor película de
              animación. No tenemos nada en contra de la última aventura de Woody, pero quizá hubiese sido más interesante premiar
              esta macabra y bellísima fábula sobre la pérdida.</h4>
          </article>
          <div class="p-5"><img class="img-fluid rounded" src="assets/img/cuerpo.jpg" alt="..." /></div>
          <div class="ratio ratio-16x9">
              <iframe width="560" height="315" src="https://www.youtube.com/embed/V-uKQZpLMu4" title="YouTube video player"
                frameborder="0"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                allowfullscreen></iframe>
          </div>
        </div>

        <div class="puesto"><h3 class="titulo">6. Roma </h3>
          <article>
            
            <h3 class="puntacion">96%</h3>
            <h4 class="sipnosis">Tiene fama de ser lo mejor que Netflix ha hecho nunca, pero Alfonso Cuarón debe conformarse con un
              lugar tan lejano al podio. ¿En serio? ¿Quién ha podido tener mejores críticas que él?</h4>
          </article>
          <div class="p-5"><img class="img-fluid rounded" src="assets/img/roma.jpg" alt="..." /></div>
          <iframe width="560" height="315"  src="https://www.youtube.com/embed/XnejYG6--zE" title="YouTube video player"
            frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
            allowfullscreen></iframe>
        </div>

        <div class="puesto" ><h3 class="titulo">5. A Todos Los Chicos De Los Que Me Enamoré </h3>
          <article>
            
            <h3 class="puntacion">96%</h3>
            <h4 class="sipnosis">Acabó dando origen a toda una saga, así que poca broma: el público se enamoró de esta comedia
              romántica casi tan fuerte como la protagonista, mientras que la crítica encontró muy pocas cosas malas que decir
              acerca de ella. Perfecta para ver durante San Valentín.</h4>
          </article>
          <div class="p-5"><img class="img-fluid rounded" src="assets/img/chicos.jpg" alt="..." /></div>
          <div class="ratio ratio-16x9">
              <iframe width="560" height="315" src="https://www.youtube.com/embed/3gAKmD51ML4" title="YouTube video player"
                frameborder="0"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                allowfullscreen></iframe>
          </div>
        </div>

        <div class="puesto"><h3 class="titulo">4. Yo Soy Dolemite </h3>
          <article>
            
            <h3 class="puntacion">97%</h3>
            <h4 class="sipnosis">Eddie Murphy volvió a la comedia de prestigio por la puerta grande con este biopic absurdo, dulce,
              graciosísimo y con un mensaje alucinante: el cine como fiesta a la que absolutamente todo el mundo tiene derecho a ser
              invitado.</h4>
          </article>
          <div class="p-5"><img class="img-fluid rounded" src="assets/img/yosoy.jpg" alt="..." /></div>
          <div class="ratio ratio-16x9">
              <iframe width="560" height="315" src="https://www.youtube.com/embed/ZEOMg1ffNoU" title="YouTube video player"
                frameborder="0"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                allowfullscreen></iframe>
          </div>
        </div>

        <div class="puesto"><h3 class="titulo">3. Mudbound </h3>
          <article>
            
            <h3 class="puntacion">97%</h3>
            <h4 class="sipnosis">Este drama histórico magistralmente dirigido por Dee Rees cuenta una historia tan sencilla como
              potente: dos hombres, uno negro y otro blanco, vuelven de la guerra con estrés postraumático… y ninguno de los dos lo
              tendrá fácil en un país, el suyo, que ya no reconocen.</h4>
          </article>
          <div class="p-5"><img class="img-fluid rounded" src="assets/img/mud.jpg" alt="..." /></div>
          <div class="ratio ratio-16x9">
              <iframe width="560" height="315" src="https://www.youtube.com/embed/hq-J4hSMuRU" title="YouTube video player"
                frameborder="0"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                allowfullscreen></iframe>
          </div>
        </div>

        <div class="puesto"><h3 class="titulo">2. Lionheart  </h3>
          <article>
            
            <h3 class="puntacion">100%</h3>
            <h4 class="sipnosis">Un drama nigeriano bastante desconocido. Su porcentaje de tres dígitos podría deberse a que RT sólo
              contabiliza siete críticas, pero son textos que se deshacen en elogios ante esta historia sobre una mujer que adquiere
              un puesto de poder dentro de un mundo dominado por hombres. </h4>
          </article>
          <div class="p-5"><img class="img-fluid rounded" src="assets/img/lion.jpg" alt="..." /></div>
          <div class="ratio ratio-16x9">
              <iframe width="560" height="315" src="https://www.youtube.com/embed/v45GprEyM7U" title="YouTube video player"
                frameborder="0"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                allowfullscreen></iframe>
          </div>
        </div>

        <div class="puesto" ><h3 class="titulo">1. Casa Ajena  </h3>
          <article>
            
            <h3 class="puntacion">100%</h3>
            <h4 class="sipnosis">En esta web ya lo dijimos: “Casa ajena es una pequeña gran película que la logrado la atención solo
              por su calidad, porque cuenta cosas relevantes, porque lo hace de forma original y estimulante, porque abre nuevas
              vías de exploración del género”.</h4>
          </article>
          <div class="p-5"><img class="img-fluid rounded" src="assets/img/casa.jpg" alt="..." /></div>
          <div class="ratio ratio-16x9">
              <iframe width="560" height="315" src="https://www.youtube.com/embed/CUOixtXvUrc" title="YouTube video player"
                frameborder="0"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                allowfullscreen></iframe>
          </div>
        </div>

      </div>
    </div>
  </div>
</section>